@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}
body {
    font-family: "Noto sans", "Noto sans KR", sans-serif;
    background: #fff;
}
header {
    position: relative;
}
nav {
    height: 30px;
    background: #ddd;
    display: flex;
    justify-content: flex-end;
}
.top {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
nav ul.topMenu {
    /* position: absolute;
    right: 0;
    top: -20px; */
    width: 200px;
    height: 30px;
    background: #284271; 
    /*box-shadow: 4px 4px 4px rgba(0,0,0,0.2);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 2px; */
}
nav ul.topMenu li a {
    display: block;
    width: 100%;
    text-align: center;
    
    line-height: 30px;
    height: 100%;
}
nav ul.topMenu li:first-child a {
    width: 100px;
    color: #333;
    background: #ffd700;
}
nav ul.topMenu li:last-child a {
    width: 100px;
    color: #fff;
    background: #284271;
}
nav ul.topMenu li a:hover {
    text-decoration: underline;
}
/*nav ul.topMenu li a::after {
    content: "|";
    padding: 0 5px;
}
nav ul.topMenu li:last-child a::after {
    content: "";
    padding: 0;
}*/
.top .logo {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.top .menu {
    margin-bottom: 10px;
}
.top .gnb {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top .gnb li {
    width: 25%;
    text-align: center;
    font-size: 20px;
}
.top .gnb li a {
    position: relative;
}
.top .gnb li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #284271;
    left: 0;
    bottom: -10px;
    transform: scale(0);
    transition: transform 0.5s;
}
.top .gnb li:hover a::after {
    transform: scale(1);
} 
header .sub {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 230px;
    background: rgba(255,255,255,0.8);
}
header .sub > ul {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
header .sub > ul > li {
    width: 25%;
}
header .sub li a {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
}
header .sub li a:hover {
    background: #ccc;
}
.main {
    width: 100%;
    height: 700px;
    background: url(../images/main01.jpg) center/cover;
}
.main .roman {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.main .roman ul {
    height: 100%;
}
.main .roman li {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.main .roman li .desc {
    color: #fff;
}
.main .roman > p {
    position: absolute;
    top: 100px;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: radial-gradient(#ffd700 20%, transparent 50%, transparent);
    animation: star 1s ease-in-out infinite alternate;
}
@keyframes star {
    from {opacity: 0;}
    to {opacity: 0.8;}
}
.info {
    height: 150px; 
}
.info ul {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info ul li {
    margin-left: 30px;
}
.info ul li:first-child {
    margin-left: 0;
}
.info ul li span {
    color: #ffd700;
    margin-right: 10px;
}
.program {
    clear: both;
    width: 1280px;
    margin: 0 auto;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}
.program h1 {
    padding-bottom: 50px;
}
.program ul {
    display: flex;
    justify-content: center;
}
.program ul li {
    position: relative;
    cursor: pointer;
}
.program ul li img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 5px solid #fff;
}
.program ul li::after {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #3b4264;
    opacity: 0.8;
    text-align: center;
    line-height: 400px;
}
.program ul li:hover::after {
    display: block;
}
.program .desc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;/*수직정렬*/
    align-items: center;/*수평정렬*/
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.program ul li:hover .desc {
    opacity: 1;
}
.program p {
    font-size: 18px;
}
.button input {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    border: 1px solid #444;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.button input:hover {
    background: #284271;
    color: #fff;
    opacity: 1;
}
.main_container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: url(../images/back01.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.main_container .inner {
    margin: 50px auto;
    text-align: center;
}
.main_container h1 {
    padding-bottom: 50px;
    color: #fff;
}
.main_container ul {
    display: flex;
    justify-content: center;
}
.main_container ul li {
    position: relative;
    cursor: pointer;
}
.main_container ul li img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding-right: 20px;
    padding-left: 20px;
}
.footer_wrap {
    padding: 20px 0;
    background: #222;
    width: 100%;
    height: auto;
}
.footer {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    position: relative;
}
.footer > div {
    display: inline-block;
    border-right: 1px solid #444;
    vertical-align: top;
    min-height: 280px;
    height: 100%;
}
.footer .foot_address > img {
    display: block;
    margin-bottom: 30px;
}
.footer .foot_address > p {
    color: #fff;
    line-height: 2;
    font-size: 14px;
}
.footer .foot_info {
    padding: 20px 30px;
}
.footer > div > h3 {
    color: #ffd700;
    font-size: 15px;
    margin-bottom: 30px;
}
.footer .foot_info ul li {
    line-height: 35px;
    color: #ddd;
}
.footer .foot_info ul li {
    width: 95px;
    display: inline-block;
    color: #fff;
}